<template>
  <v-container fluid fill-height>
    <v-row justify="center">
      <v-col cols="12" sm="8" md="6" lg="4">
        <validation-observer ref="observer" v-slot="{ invalid, validate }" slim>
          <v-card tag="form" @submit.prevent="validate().then(submit)">
            <v-card-title>
              {{ $t('page.add') }}
            </v-card-title>
            <v-card-text>
              <product-search
                v-model="product_id"
                rules="required"
              ></product-search>
              <validated-text-field
                v-model="quantity"
                :label="$t('label.quantity')"
                type="number"
                rules="required"
                min="1"
                step="1"
                max="255"
              ></validated-text-field>
              <v-textarea
                v-model="comment"
                :label="$t('label.comment')"
              ></v-textarea>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="success" type="submit" :loading="loading">{{
                $t('action.add')
              }}</v-btn>
            </v-card-actions>
          </v-card>
        </validation-observer>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { Component, Vue } from 'vue-property-decorator'
import ProductSearch from '@/components/ProductSearch.vue'
import ValidatedTextField from '@/components/ValidatedTextField.vue'

@Component({
  components: {
    ValidationProvider,
    ProductSearch,
    ValidationObserver,
    ValidatedTextField
  }
})
export default class AddPage extends Vue {
  // eslint-disable-next-line camelcase
  product_id: number | null = null
  quantity: number | null = null
  comment: string | null = null
  loading = false
  clear() {
    this.product_id = null
    this.quantity = null
    this.comment = null
  }
  async submit() {
    try {
      this.loading = true
      await this.$axios.post('/api/histories', {
        product_id: this.product_id,
        quantity: this.quantity,
        comment: this.comment,
        action: 'ADD'
      })
      this.clear()
    } catch (e) {
      //
    } finally {
      this.loading = false
    }
  }
}
</script>
