<template>
  <v-container fluid fill-height>
    <v-row justify="center">
      <v-col cols="12" sm="8" md="6" lg="4">
        <validation-observer ref="observer" v-slot="{ invalid, validate }" slim>
          <v-card tag="form" @submit.prevent="validate().then(submit)">
            <v-card-title>
              {{ $t('page.create') }}
            </v-card-title>
            <v-card-text>
              <validated-text-field
                v-model="form.name"
                :label="$t('label.name')"
                rules="required"
                autofocus
              ></validated-text-field>
              <model-crud-selector
                v-model="form.unit_id"
                model="units"
                :label="$t('label.unit')"
                rules="required"
              ></model-crud-selector>
              <validated-text-field
                v-model="form.quantity"
                rules="required"
                :label="$t('label.initial_quantity')"
                type="number"
                step="1"
                min="1"
                max="255"
              ></validated-text-field>
              <validated-text-field
                v-model="form.minimum_quantity"
                rules="required"
                :label="$t('label.minimum_quantity')"
                type="number"
                step="1"
                min="1"
                max="255"
              ></validated-text-field>
              <v-textarea
                v-model="form.comment"
                :label="$t('label.comment')"
              ></v-textarea>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                :loading="loading"
                color="success"
                type="submit"
                :disabled="invalid"
                >{{ $t('action.create') }}</v-btn
              >
            </v-card-actions>
          </v-card>
        </validation-observer>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import {
  ValidationObserver,
  ValidationProvider,
  ValidationContext
} from 'vee-validate'
import ModelCrudSelector from '@/components/ModelCrudSelector.vue'
import ValidatedTextField from '@/components/ValidatedTextField.vue'

@Component({
  components: {
    ValidationProvider,
    ValidationObserver,
    ModelCrudSelector,
    ValidatedTextField
  }
})
export default class PageCreate extends Vue {
  created() {
    this.$watch(
      () => this.$i18n.locale,
      () => {
        const observer = (this.$refs.observer as unknown) as ValidationContext
        observer.reset()
      }
    )
  }
  loading = false
  form = {
    name: '',
    unit_id: '',
    quantity: '',
    minimum_quantity: '',
    comment: ''
  }
  clear() {
    this.form.name = ''
    this.form.unit_id = ''
    this.form.quantity = ''
    this.form.minimum_quantity = ''
    this.form.comment = ''
  }
  async submit() {
    try {
      this.loading = true
      await this.$axios.post('/api/products', this.form)
      this.clear()
    } catch (e) {
      //
    } finally {
      this.loading = false
    }
  }
}
</script>
