<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12" sm="4" lg="3">
        <v-select
          v-model="filter"
          :items="filters"
          :label="this.$t('label.filter')"
          solo
          hide-details
        ></v-select>
      </v-col>
      <v-col cols="12">
        <v-data-table
          :headers="headers"
          :items="histories"
          :items-per-page="10"
          :options.sync="options"
          :server-items-length="totalHistories"
          :footer-props="{ 'items-per-page-options': [10] }"
          :loading="loading"
          class="elevation-1"
        >
          <template v-slot:item.created_at="{ item }">
            {{ item.created_at | dateTime }}
          </template>
          <template v-slot:item.taker.name="{ item }">
            {{ item.taker ? item.taker.name : 'N/A' }}
          </template>
          <template v-slot:item.action="{ item }">
            {{ $t(`constants.${item.action}`) }}
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import { debounce } from 'ts-debounce'
import { SelectOption } from '~/models/SelectOption'
import { HistoryItem } from '~/models/HistoryItem'

@Component({
  async asyncData({ app }) {
    const { data } = await app.$axios.get('/api/histories')
    return {
      histories: data.data,
      totalHistories: data.meta.total
    }
  },
  filters: {
    dateTime(dateTime) {
      const [date, time] = dateTime.split(' ')
      const formattedDate = date
        .split('-')
        .reverse()
        .join('/')
      const formattedTime = time
        .split(':')
        .splice(0, 2)
        .join(':')
      return `${formattedTime} - ${formattedDate}`
    }
  }
})
export default class IndexPage extends Vue {
  search: string = ''
  filter: string = 'ALL'
  histories: HistoryItem[] = []
  totalHistories = 0
  options = {
    page: 1,
    itemsPerPage: 10,
    sortBy: [],
    sortDesc: [],
    groupBy: [],
    groupDesc: [],
    mustSort: false,
    multiSort: false
  }
  loading = false
  @Watch('options', { deep: true })
  onOptionsChanged() {
    this.getData()
  }
  @Watch('filter', { deep: true })
  onFilterChanged() {
    this.getData()
  }
  get filters(): Array<SelectOption<String>> {
    return [
      {
        text: this.$t('filter.all'),
        value: 'ALL'
      },
      {
        text: this.$t('filter.add'),
        value: 'ADD'
      },
      {
        text: this.$t('filter.remove'),
        value: 'TAKE'
      }
    ]
  }
  get headers(): Array<SelectOption<String>> {
    return [
      { text: this.$t('table.timestamp'), value: 'created_at' },
      { text: this.$t('table.name'), value: 'taker.name' },
      { text: this.$t('table.action'), value: 'action' },
      { text: this.$t('table.quantity'), value: 'quantity' },
      { text: this.$t('table.product'), value: 'product.name' },
      { text: this.$t('table.comment'), value: 'comment' }
    ]
  }
  getData = debounce(async function(this: any) {
    try {
      this.loading = true
      const { data } = await this.$axios.get('/api/histories', {
        params: {
          page: this.options.page,
          filter: this.filter
        }
      })
      this.totalHistories = data.meta.total
      this.histories = data.data
    } catch (e) {
      console.log(e)
    } finally {
      this.loading = false
    }
  }, 250)
}
</script>
