<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex shrink>
        Home
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {}
</script>
