<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12" sm="8" md="9">
        <v-text-field
          v-model="search"
          :label="$t('label.search')"
          :placeholder="$t('label.search')"
          solo
          hide-details
          clearable
        ></v-text-field>
      </v-col>
      <v-col cols="12" sm="4" md="3">
        <v-select
          v-model="filter"
          :items="filters"
          :label="$t('label.filter')"
          solo
          hide-details
        ></v-select>
      </v-col>
      <v-col cols="12">
        <v-data-table
          :headers="headers"
          :items="inventory"
          :items-per-page="10"
          :options.sync="options"
          :server-items-length="totalInventory"
          :footer-props="{ 'items-per-page-options': [10] }"
          :loading="loading"
          class="elevation-1"
        >
          <template v-slot:item.status="{ item }">
            {{ $t(`constants.${item.status}`) }}
          </template>
          <template v-slot:item.id="{ item }">
            <v-btn text @click="removeId = item.id">{{
              $t('action.delete')
            }}</v-btn>

            <v-btn text disabled @click="editId = item.id">{{
              $t('action.edit')
            }}</v-btn>
          </template>
        </v-data-table>
        <remove-dialog v-model="removeId" @removed="removed"></remove-dialog>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'

import { debounce } from 'ts-debounce'
import { InventoryItem } from '~/models/InventoryItem'
import { SelectOption } from '~/models/SelectOption'
import RemoveDialog from '~/components/RemoveDialog.vue'

@Component({
  components: { RemoveDialog },
  async asyncData({ app }) {
    const { data } = await app.$axios.get('/api/products')
    return {
      inventory: data.data,
      totalInventory: data.meta.total
    }
  }
})
export default class IndexPage extends Vue {
  search = ''
  filter = 'ALL'
  totalInventory = 0
  removeId = null
  editId = null
  options = {
    page: 1,
    itemsPerPage: 10,
    sortBy: [],
    sortDesc: [],
    groupBy: [],
    groupDesc: [],
    mustSort: false,
    multiSort: false
  }
  loading = false
  inventory: InventoryItem[] = []
  @Watch('options', { deep: true })
  onOptionsChanged() {
    this.getData()
  }
  @Watch('filter', { deep: true })
  onFilterChanged() {
    this.getData()
  }
  @Watch('search', { deep: true })
  onSearchChanged() {
    this.getData()
  }
  get filters(): Array<SelectOption<String>> {
    return [
      {
        text: this.$t('filter.all_products'),
        value: 'ALL'
      },
      {
        text: this.$t('filter.low_inventory'),
        value: 'LOW_INVENTORY'
      }
    ]
  }
  get headers(): Array<Object> {
    return [
      { text: this.$t('table.name'), value: 'name', sortable: false },
      { text: this.$t('table.quantity'), value: 'quantity', sortable: false },
      { text: this.$t('table.unit'), value: 'unit', sortable: false },
      { text: this.$t('table.status'), value: 'status', sortable: false },
      { text: this.$t('table.comment'), value: 'comment', sortable: false },
      { text: this.$t('table.more'), value: 'id', sortable: false }
    ]
  }
  getData = debounce(async function(this: any) {
    try {
      this.loading = true
      const { data } = await this.$axios.get('/api/products', {
        params: {
          page: this.options.page,
          search: this.search,
          filter: this.filter
        }
      })
      this.totalInventory = data.meta.total
      this.inventory = data.data
    } catch (e) {
      console.log(e)
    } finally {
      this.loading = false
    }
  }, 250)
  removed() {
    this.getData()
  }
}
</script>
