<template>
  <v-container fluid fill-height>
    <v-row justify="center">
      <v-col cols="12" sm="8" md="6" lg="4">
        <validation-observer ref="observer" v-slot="{ invalid, validate }" slim>
          <v-card tag="form" @submit.prevent="validate().then(submit)">
            <v-card-title>
              {{ $t('page.remove') }}
            </v-card-title>
            <v-card-text>
              <product-search
                v-model="product_id"
                rules="required"
              ></product-search>
              <model-crud-selector
                v-model="taker_id"
                model="takers"
                :label="$t('label.taker')"
                rules=""
              ></model-crud-selector>
              <validated-text-field
                v-model="quantity"
                :label="$t('label.quantity')"
                rules="required"
                min="1"
                :max="product ? product.quantity : ''"
                persistent-hint
                :hint="
                  product
                    ? `Inventory: ${product.quantity} Minimum: ${product.minimum_quantity}`
                    : ''
                "
                step="1"
                type="number"
              ></validated-text-field>
              <v-textarea
                v-model="comment"
                :label="$t('label.comment')"
              ></v-textarea>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="error" :loading="loading" type="submit">{{
                $t('action.remove')
              }}</v-btn>
            </v-card-actions>
          </v-card>
        </validation-observer>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { Component, Vue, Watch } from 'vue-property-decorator'
import ProductSearch from '@/components/ProductSearch.vue'
import ModelCrudSelector from '@/components/ModelCrudSelector.vue'
import ValidatedTextField from '@/components/ValidatedTextField.vue'

@Component({
  components: {
    ValidationProvider,
    ProductSearch,
    ValidationObserver,
    ModelCrudSelector,
    ValidatedTextField
  }
})
export default class RemovePage extends Vue {
  // eslint-disable-next-line camelcase
  product_id: number | null = null
  quantity: number | null = null
  // eslint-disable-next-line camelcase
  taker_id: number | null = null
  comment: string | null = null
  product: null | Object = null
  loading = false
  loadingProduct = false
  @Watch('product_id')
  onProductIdChanged(value) {
    if (value) {
      this.getProduct()
    } else {
      this.product = null
    }
  }
  clear() {
    this.product_id = null
    this.quantity = null
    this.taker_id = null
    this.comment = null
  }
  async getProduct() {
    try {
      this.loadingProduct = true
      const { data } = await this.$axios.get(`/api/products/${this.product_id}`)
      this.product = data.data
    } catch (e) {
      //
    } finally {
      this.loadingProduct = false
    }
  }
  async submit() {
    try {
      this.loading = true
      await this.$axios.post('/api/histories', {
        product_id: this.product_id,
        quantity: this.quantity,
        taker_id: this.taker_id,
        comment: this.comment,
        action: 'TAKE'
      })
      this.clear()
    } catch (e) {
      //
    } finally {
      this.loading = false
    }
  }
}
</script>
