<template>
  <validation-provider
    v-slot="{ errors, validate }"
    :rules="rules"
    slim
    :name="label"
  >
    <v-autocomplete
      v-bind="$attrs"
      :label="label"
      :items="translatedItems"
      :error-messages="errors"
      autocomplete="off"
      @input="validate"
      v-on="$listeners"
    >
      <template v-slot:append-outer>
        <v-dialog v-model="dialog" max-width="600px">
          <template v-slot:activator="{ on }">
            <v-btn fab small color="success" :loading="loading" v-on="on"
              ><v-icon>
                add
              </v-icon></v-btn
            >
          </template>
          <model-crud-selector-create
            v-if="dialog"
            :model="model"
            :label="label"
            @created="modelCreated"
            @close="dialog = false"
          ></model-crud-selector-create>
        </v-dialog>
      </template>
    </v-autocomplete>
  </validation-provider>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import ValidatedTextField from '~/components/ValidatedTextField.vue'
import { CrudItem } from '~/models/CrudItem'
import ModelCrudSelectorCreate from '~/components/ModelCrudSelectorCreate.vue'

@Component({
  components: {
    ModelCrudSelectorCreate,
    ValidatedTextField,
    ValidationObserver,
    ValidationProvider
  }
})
export default class ModelCrudSelector extends Vue {
  mounted() {
    this.getItems()
  }
  @Prop(String)
  rules!: string
  @Prop(String)
  label!: string
  @Prop(String)
  model!: string
  dialog = false
  loading = false
  items: Array<CrudItem> = []
  name = ''
  get translatedItems() {
    return this.items.map((item) => ({
      text: item.name,
      value: item.id
    }))
  }
  async getItems() {
    try {
      const { data } = await this.$axios.get(`/api/${this.model}`)
      this.items = data.data
    } catch (e) {}
  }
  async modelCreated($model) {
    await this.getItems()
    this.dialog = false
    this.$emit('input', $model.id)
  }
}
</script>
