<template>
  <validation-observer ref="observer" v-slot="{ invalid, validate }" slim>
    <v-card tag="form" @submit.prevent="validate().then(create)">
      <v-card-title> {{ $t('dialog.create') }} {{ label }} </v-card-title>
      <v-card-text>
        <validated-text-field
          v-model="name"
          autofocus
          autocomplete="off"
          :label="$t('label.name')"
          rules="required"
        ></validated-text-field>
      </v-card-text>
      <v-card-actions>
        <v-btn text @click="$emit('close')">{{ $t('action.cancel') }}</v-btn>
        <v-spacer></v-spacer>
        <v-btn color="success" type="submit" :loading="loading">{{
          $t('action.create')
        }}</v-btn>
      </v-card-actions>
    </v-card>
  </validation-observer>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import ValidatedTextField from '~/components/ValidatedTextField.vue'
@Component({
  components: {
    ValidatedTextField,
    ValidationObserver,
    ValidationProvider
  }
})
export default class ModelCrudSelectorCreate extends Vue {
  @Prop(String)
  model!: string
  @Prop(String)
  label!: string
  loading = false
  name = ''
  async create() {
    try {
      this.loading = true
      const { data } = await this.$axios.post(`/api/${this.model}`, {
        name: this.name
      })
      await this.$emit('created', data.data)
      this.name = ''
    } catch (e) {
    } finally {
      this.loading = false
    }
  }
}
</script>
