<template>
  <validation-provider
    v-slot="{ errors, validate }"
    :rules="rules"
    slim
    :name="$t('label.product')"
  >
    <v-autocomplete
      :label="$t('label.product')"
      autocomplete="off"
      :error-messages="errors"
      :search-input.sync="search"
      hide-no-data
      :loading="loading"
      v-bind="$attrs"
      :items="items"
      v-on="$listeners"
      @input="validate"
    ></v-autocomplete>
  </validation-provider>
</template>

<script lang="ts">
import { ValidationProvider } from 'vee-validate'
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'

@Component({
  components: { ValidationProvider }
})
export default class ProductSearch extends Vue {
  @Prop(String) label!: string
  @Prop(String) rules!: string
  search = ''
  items = []
  loading = false
  @Watch('search')
  onSearchChanged(search) {
    if (search) {
      this.fetch()
    }
  }
  async fetch() {
    try {
      this.loading = true
      const { data } = await this.$axios.get('/api/products', {
        params: {
          search: this.search
        }
      })
      this.items = data.data.map((item) => {
        return {
          text: item.name,
          value: item.id
        }
      })
    } finally {
      this.loading = false
    }
  }
}
</script>
