<template>
  <v-dialog
    :value="!!value"
    max-width="600"
    :loading="loading"
    @input="$emit('input', $event)"
  >
    <v-card>
      <v-card-title>
        {{ $t('page.remove_product') }}
        <v-spacer></v-spacer>
        <v-btn icon @click="$emit('input', null)">
          <v-icon>close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text>
        <v-progress-linear v-if="loading" indeterminate></v-progress-linear>
        <template v-else-if="product">
          <v-list dense>
            <v-list-item>
              <v-list-item-content>{{ $t('table.name') }}:</v-list-item-content>
              <v-list-item-content class="align-end">{{
                product.name
              }}</v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-content
                >{{ $t('table.quantity') }}:</v-list-item-content
              >
              <v-list-item-content class="align-end">{{
                product.quantity
              }}</v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-content>{{ $t('table.unit') }}:</v-list-item-content>
              <v-list-item-content class="align-end">{{
                product.unit
              }}</v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-content
                >{{ $t('table.status') }}:</v-list-item-content
              >
              <v-list-item-content class="align-end">{{
                $t(`constants.${product.status}`)
              }}</v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-content
                >{{ $t('table.comment') }}:</v-list-item-content
              >
              <v-list-item-content class="align-end">{{
                product.comment
              }}</v-list-item-content>
            </v-list-item>
          </v-list>
        </template>
      </v-card-text>
      <v-card-actions>
        <v-btn text @click="$emit('input', null)">
          {{ $t('action.cancel') }}
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn color="error" :loading="loadingRemove" @click="remove">
          {{ $t('action.delete') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script type="ts">
import { Component, Vue, Watch, Prop } from 'vue-property-decorator'

@Component
export default class RemoveDialog extends Vue {
  @Prop(Number) value
  product = null
  loading = false
  loadingRemove = false
  @Watch('value')
  onValueChanged (product) {
    if (product) {
      this.loadProduct()
    } else {
      this.product = null
    }
  }
  async loadProduct() {
    try {
      this.loading = true
      const {data} = await this.$axios.get(`/api/products/${this.value}`)
      this.product = data.data
    } catch (e) {
      this.$emit('input', null)
    } finally {
      this.loading = false
    }
  }
  async remove() {
    try {
      this.loadingRemove = true
      await this.$axios.delete(`/api/products/${this.value}`)
      this.$emit('input', null)
      this.$emit('removed')
    } catch (e) {
      //
    } finally {
      this.loadingRemove = false
    }
  }
}
</script>
