<template>
  <validation-provider
    v-slot="{ errors, validate }"
    :rules="rules"
    slim
    :name="$t(label)"
  >
    <v-text-field
      autocomplete="off"
      :label="$t(label)"
      :error-messages="errors"
      v-bind="$attrs"
      v-on="$listeners"
      @input="validate"
    ></v-text-field>
  </validation-provider>
</template>

<script lang="ts">
import { ValidationProvider } from 'vee-validate'
import { Component, Vue, Prop } from 'vue-property-decorator'
@Component({
  components: { ValidationProvider }
})
export default class ValidatedTextField extends Vue {
  @Prop(String) label!: string
  @Prop(String) rules!: string
}
</script>
