<template>
  <v-app>
    <v-navigation-drawer v-model="drawer" app clipped>
      <v-list dense>
        <v-list-item to="/app" exact disabled>
          <v-list-item-action>
            <v-icon>home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ $t('menu.home') }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item to="/app/inventory">
          <v-list-item-action>
            <v-icon>view_list</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ $t('menu.inventory') }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item to="/app/history">
          <v-list-item-action>
            <v-icon>view_list</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ $t('menu.history') }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item to="/app/add">
          <v-list-item-action>
            <v-icon>add_circle</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ $t('menu.add') }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item to="/app/remove">
          <v-list-item-action>
            <v-icon>remove_circle</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ $t('menu.remove') }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item to="/app/create" exact>
          <v-list-item-action>
            <v-icon>add_box</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ $t('menu.create') }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item to="/app/takers" disabled>
          <v-list-item-action>
            <v-icon>library_books</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ $t('menu.takers') }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item to="/app/units" disabled>
          <v-list-item-action>
            <v-icon>library_books</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ $t('menu.units') }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item to="/app/upgrade" disabled>
          <v-list-item-action>
            <v-icon>star</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ $t('menu.upgrade') }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item @click="logout">
          <v-list-item-action>
            <v-icon>power_settings_new</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ $t('menu.logout') }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app clipped-left>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>My Inventory</v-toolbar-title>
    </v-app-bar>

    <v-content>
      <nuxt></nuxt>
    </v-content>

    <v-footer app>
      <span>&copy; 2019 My Inventory App</span>
      <v-spacer></v-spacer>
      <span>
        <v-btn text :disabled="locale === 'en'" @click="locale = 'en'"
          >English</v-btn
        >
        <v-btn text :disabled="locale === 'es'" @click="locale = 'es'"
          >Spanish</v-btn
        >
      </span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      drawer: true,
      locale: this.$cookies.get('lang')
    }
  },
  watch: {
    locale(locale) {
      this.$i18n.locale = locale
      this.$vuetify.lang.current = locale
      this.$cookies.set('lang', locale, {
        path: '/',
        maxAge: 60 * 60 * 24 * 7
      })
    }
  },
  methods: {
    async logout() {
      try {
        this.loading = true
        await this.$axios.post(`${window.location.origin}/auth/logout`)
        this.$store.commit('auth/setToken', null)
        this.$router.replace('/')
      } catch (e) {
        //
      } finally {
        this.loading = false
      }
    }
  }
}
</script>
