<template>
  <v-app>
    <v-content>
      <nuxt></nuxt>
    </v-content>

    <v-footer app>
      <span>&copy; 2019 My Inventory App</span>
      <v-spacer></v-spacer>
      <span>
        <v-btn text :disabled="locale === 'en'" @click="locale = 'en'"
          >English</v-btn
        >
        <v-btn text :disabled="locale === 'es'" @click="locale = 'es'"
          >Spanish</v-btn
        >
      </span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: 'Landing',
  data() {
    return {
      drawer: true,
      locale: this.$cookies.get('lang')
    }
  },
  watch: {
    locale(locale) {
      this.$i18n.locale = locale
      this.$vuetify.lang.current = locale
      this.$cookies.set('lang', locale, {
        path: '/',
        maxAge: 60 * 60 * 24 * 7
      })
    }
  }
}
</script>
