<template>
  <v-container fluid fill-height>
    <v-row justify="center">
      <v-col cols="12" sm="8" md="6" lg="4">
        <validation-observer ref="observer" v-slot="{ invalid, validate }" slim>
          <v-card tag="form" @submit.prevent="validate().then(login)">
            <v-card-title primary-title>
              My Inventory
            </v-card-title>
            <v-card-text>
              <validated-text-field
                v-model="email"
                :label="$t('label.email')"
                rules="required"
                type="email"
              ></validated-text-field>
              <validated-text-field
                v-model="password"
                :label="$t('label.password')"
                rules="required|min:8|max:255"
                type="password"
              ></validated-text-field>
            </v-card-text>
            <v-card-actions>
              <v-btn
                text
                color="success"
                :loading="loadingRegister"
                @click.stop="validate().then(register)"
              >
                {{ $t('action.register') }}
              </v-btn>
              <v-spacer></v-spacer>
              <v-btn color="primary" type="submit" :loading="loadingLogin">
                {{ $t('action.login') }}
              </v-btn>
            </v-card-actions>
          </v-card>
        </validation-observer>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import {
  ValidationObserver,
  ValidationProvider,
  ValidationContext
} from 'vee-validate'
import ValidatedTextField from '@/components/ValidatedTextField.vue'

@Component({
  layout: 'landing',
  components: {
    ValidationObserver,
    ValidationProvider,
    ValidatedTextField
  }
})
export default class IndexPage extends Vue {
  created() {
    this.$watch(
      () => this.$i18n.locale,
      () => {
        const observer = (this.$refs.observer as unknown) as ValidationContext
        observer.reset()
      }
    )
  }
  loadingRegister = false
  loadingLogin = false
  email = ''
  password = ''
  async login() {
    try {
      this.loadingLogin = true
      const { data } = await this.$axios.post(
        `${window.location.origin}/auth/login`,
        {
          email: this.email,
          password: this.password
        }
      )
      this.$store.commit('auth/setToken', data.access_token)
      this.$axios.setToken(data.access_token, 'Bearer')
      this.$router.replace('/app/inventory')
    } catch (e) {
      //
    } finally {
      this.loadingLogin = false
    }
  }
  async register() {
    try {
      this.loadingRegister = true
      const { data } = await this.$axios.post('/api/auth/users', {
        email: this.email,
        password: this.password
      })
      this.$store.commit('auth/setToken', data.token)
      this.$axios.setToken(data.access_token, 'Bearer')
      this.$router.replace('/app/inventory')
    } catch (e) {
      //
    } finally {
      this.loadingRegister = false
    }
  }
}
</script>
